<meta charset="UTF-8">
<style>
.dataTables_length label { display:none;}

</style>
 <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
				<table class="table table-bordered dt-responsive nowrap w-100" id="datatable-itensPedido">
					<thead>
						<tr>
							<th data-orderable="false">#</th>
							<!-- escondido no datables-->
							<th data-orderable="false">Item</th>
							<th data-orderable="false">item</th>
							<th data-orderable="false">Preço</th>
							<th data-orderable="false">Ação</th>
						</tr>
					</thead>

				</table>
			</div>
		</div>
	</div>
</div>