<meta charset="UTF-8">

       <style>
.footerr {
    bottom: 0;
    padding: 20px calc(24px / 2);
    position: absolute;
    right: 0;
    color: #74788d;
    left: 0;
    height: 60px;
    background-color: #f2f2f5;
  text-align: center;
}
</style>
       
           <div class="footerr">
                        
                                                      <script>document.write(new Date().getFullYear())</script> © Frida's Café & Tapiocaria
                            </div>
                