<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">




<th:block th:include="fragments/header"></th:block>

<body id="page-top">
	 <div id="layout-wrapper">
	 
<th:block th:include="fragments/navbar"></th:block>
<th:block th:include="principal/removerPedido"></th:block>


                <div class="page-content">
                    <div class="container-fluid">
          <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">Pedidos encerrados</h4>

                              

                                </div>
                            </div>
                        </div>
					<!-- start page title -->
                    </div>
<div class="row">
<div class="col-12">
     <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-22">Hoje</h4>

                              

                                </div>
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>#</th>
									<th>Cliente</th>
									<th>Total</th>
									<th>Data</th>
									<th>Ação</th>


								</tr>
							</thead>
							<tbody>
								<tr th:each="d : ${pedidosEncerradosHoje}">
									<td th:text="${d.numeroPedidoDia}"></td>
									<td th:text="${d.cliente}"></td>
									<td th:text="${ 'R$ ' + d.valorFinal}"></td>
                                    <td  th:text="${#temporals.format( d.horaPedido , 'HH:mm:ss dd/MM/yyyy ')}"> </td >
                                  <td colspan="3">
                                  <a  class="btn btn-warning btn-sm " th:href="@{/pedidos/encerrado/{pedidoId} (pedidoId=${d.pedidoId}) }">Detalhes</a>
									<button class="btn btn-danger btn-sm"  title="remover pedido"
									th:id="${ 'btn_removerPedido/' + d.pedidoId}"
									role="button" data-bs-toggle="modal" data-bs-target="#removerPedidoModal">
									Remover
								</button>


								</tr>
							</tbody>
						</table>
					</div>
</div>
</div>
            <div class="col-12">
     <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-22">Ontem</h4>

                              

                                </div>
            					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>#</th>
									<th>Cliente</th>
									<th>Total</th>
									<th>Data</th>
									<th>Ação</th>


								</tr>
							</thead>
							<tbody>
								<tr th:each="d : ${pedidosEncerradosOntem}">
									<td th:text="${d.numeroPedidoDia}"></td>
									<td th:text="${d.cliente}"></td>
									<td th:text="${ 'R$ ' + d.valorFinal}"></td>
                                    <td  th:text="${#temporals.format( d.horaPedido , 'HH:mm:ss dd/MM/yyyy ')}"> </td >
                                  <td colspan="3">
                                  <a  class="btn btn-warning btn-sm " th:href="@{/pedidos/encerrado/{pedidoId} (pedidoId=${d.pedidoId}) }">Detalhes</a>
                                  	<button class="btn btn-danger btn-sm"  title="remover item"
									th:id="${ 'btn_removerPedido/' + d.pedidoId}"
									role="button" data-bs-toggle="modal" data-bs-target="#removerPedidoModal">
									Remover
								</button>


								</tr>
							</tbody>
						</table>
					</div>
            </div>    

                </div>
								<a class="btn btn-success btn-sm" th:href=@{/pedidos}> VOLTAR</a>
	
	 </div>

		<!-- end row -->
	
	<!-- container-fluid -->
	<!-- End Page-content -->


	<th:block th:include="fragments/footer"></th:block>


	<!-- end main content-->


	<!-- END layout-wrapper -->



	<!-- Right bar overlay-->
	<div class="rightbar-overlay"></div>

	<th:block th:include="fragments/scripts"></th:block>

</body>

</html>